@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Access Management</title>
</head>
<body>
    <h1>Access Management</h1>
    <ul>
        <li><a href="/Access/CreateAccessForm">Create Access Request</a></li>
        <li><a href="/Access/RevokeAccessForm">Revoke Access</a></li>
        <li><a href="/Access/ChangePermissionForm">Change Access Permission</a></li>
        <li><a href="/Access/ReactivateAccessForm">Reactivate Access</a></li>
    </ul>
</body>
</html>
